<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New ejs</title>
</head>
<body>
    <form action="/listings" method="post">
        <input type="text" name="title" placeholder="Enter title"/>
        <br>
        <textarea type="text" name="description" placeholder="Enter description"/>
        <br>
        <input type="text" name="image" placeholder="Enter imgage or url"/>
        <br>
        <input type="number" name="price" placeholder="Enter price"/>
        <br>
        <input type="text" name="location" placeholder="Enter location"/>
        <br>
        <input type="text" name="country" placeholder="Enter country"/>
        <br>
        <button>Create</button>
    </form>
</body>
</html>